@use "../abstracts/functions" as *;

.featured-projects {
  padding: 4rem 1.5rem;
  background-color: #fffce8;
  @media (max-width: rem(430)) {
    margin-top: -60px;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }

  h2 {
    font-size: 2rem;
    color: #222;
    margin-bottom: 1rem;
  }

  .section-description {
    font-size: 1.1rem;
    color: #444;
    margin-bottom: 2.5rem;
  }

  .project-slide {
    background-color: #fff;
    border-radius: 1rem;
    overflow: hidden;

    transition: transform 0.3s ease;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      cursor: pointer;
    }
  }

  .swiper {
    padding-bottom: 3rem;
  }

  .swiper-pagination-bullet {
    background: #d4a437;

    opacity: 0.5;
    &-active {
      opacity: 1;
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    background-color: rgba(255, 255, 255, 0.9); // soft white background
    color: #d4a437;
    width: rem(44);
    height: rem(44);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    margin: rem(25);

    &::after {
      font-size: rem(18);
      font-weight: bold;
    }

    &:hover {
      background-color: #fff;
      color: #b8922b;
      transform: scale(1.1);
    }

    @media (max-width: rem(768)) {
      width: rem(38);
      height: rem(38);
      &::after {
        font-size: rem(16);
      }
    }
  }
  .center-button {
    margin-top: 2rem;
    @media (max-width: rem(430)) {
      margin-top: rem(0);
    }

    .hero-button {
      background-color: #ffcf00;
      color: black;
      font-weight: 600;
      padding: 0.75rem 2rem;
      border-radius: rem(40);
      text-decoration: none;
      display: inline-block;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #b8922b;
      }
    }
  }
}
