@use "../abstracts/functions" as *;

.why-choose-us {
  background: #f9f9f9;
  padding: 4rem 1.5rem;

  @media (max-width: rem(430)) {
    padding: 0.5rem 1.5rem;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;

    h2 {
      font-size: 2rem;
      margin-bottom: 2rem;
      color: #333;
    }

    .benefits-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 2rem;

      @media (max-width: 1150px) {
        grid-template-columns: repeat(
          2,
          1fr
        ); // Force 2 columns on medium screens
      }

      @media (max-width: 600px) {
        grid-template-columns: 1fr; // 1 column on mobile
      }
    }

    .benefit-card {
      background: white;
      padding: 2rem;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.129);
      text-align: center;
      transition: transform 0.3s;

      &:hover {
        transform: translateY(-4px);
      }

      .icon {
        font-size: 2.5rem;
        color: #ffcf00;
        margin-bottom: 1rem;
      }

      h3 {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
        color: #333;
      }

      p {
        font-size: 1rem;
        color: #666;
      }
    }
  }
  .hero-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    margin-top: rem(40);
    margin-bottom: rem(20);
    border-radius: 6px;
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
    text-align: center;

    &.primary {
      background-color: #ffcf00;
      border-radius: 40px;

      color: black;

      &:hover {
        background-color: #b8922b;
      }
    }

    &.secondary {
      background-color: #f1f1f1;
      color: #333;

      &:hover {
        background-color: #e1e1e1;
      }
    }
  }
}
